#bandeausaison4{
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
color: white;
}
.container-verybig{max-widh:1560px;}
}
    background-image: url(https://media.discordapp.net/attachments/709643068499820545/709653278970871828/combat.jpg);
    background-position: center
    background-repeat: no-repeat;
    max-width: 3000px;
}
h1{
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    color: white;
    text-align:left;
    fond-weight:700;
    fond-size:52px;
    margin-bottom:20px;
    text-transform:uppercase;
    padding-top:300px;
}
