#bandeausaison4{
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
color: white;
height: 3000px;
}
.container-verybig{
    background-image: url(https://media.discordapp.net/attachments/709643068499820545/709653278970871828/combat.jpg);
    background-repeat: no-repeat;
    height: 3000px;
    max-width: 3000px;
}
h1{
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    color: white;
}
<link rel="stylesheet" href="css/style.css" >